@font-face {
    font-family: '8bit_wonder';
    src: url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.eot');
    src: url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.woff2') format('woff2'),
         url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.woff') format('woff'),
         url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.ttf') format('truetype'),
         url('/app/css/fonts/8bit_wonder/8-bit_wonder-webfont.svg#8bit_wondernominal') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	font-family: '8bit_wonder' !important;
}


.side-nav {
	width:160px;
}

header {
	padding-left: 160px;
}
main {
	padding-left: 160px;
}
footer.page-footer {
	padding-left: 160px;
	background-color: #29abe1;
	color : white;
}



.side-nav li {
	padding : 0;
}
.side-nav a.logo {
	height: 67px;
	padding-top:10px !important;
	margin-bottom:22px !important;
	/*border-bottom: 1px solid #ddd;*/
}

.top-nav {
	/*height: 109px;*/
	height: 74px;
	background-color: #29abe1;
	color: white;
}

.page_title {
	font-size: 16px; 
	font-weight: 400; 
	padding-left:20px;
	color:white;
}

.logo_container {
	/*height: 95px;*/
	height: 60px;
  	margin-bottom: 10px !important;
  	padding-top: 9px;
  	text-align:center;
}

.logo {
	margin-top: 3px;
  	border-bottom: 1px solid #ddd;
}

.nav-wrapper {
	/*padding-top: 16px;*/
	padding-top: 4px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.footer-container {
	padding-left:20px;
}
.main_container {
	padding : 15px;
}

.sidenav-item {
	/*font-size: 12px !important;*/
	font-size: 9px !important;
}
.side-nav li {
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 992px) {
	header, footer {
  		padding-left: 0px;
	}
}

.main-bg {
	background: #29abe1 !important;
	color: white;
}
.card-title {

}

.switch label .lever {
	background-color: #B6B6B6;

}

.switch label {
	color: white;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffe0b2;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #FF9800;
}

.input-field label {
	color: white !important;
}

input#tweet_frequency {
	border-bottom: solid 1px white !important;
}
#update_button_container {
	margin-top: 25px;
}

.input-field label[for="tweet_frequency"] {
	font-size: 8px;
}
#tweet_frequency_label {
	font-size: 10px;
}

.card .card-title {
	border-bottom: solid 1px white;
  	padding-bottom: 5px;
	font-size: 17px;
	font-weight: bold;
	font-family:Verdana;
}
.stream-control {
	margin-top:12px;
}

.material-tooltip {
	color: white;
	font-size: 10px;
	/* border-radius: 0 0 14px 14px; */
}

.backdrop {
	/*background-color : white;*/
	background-color:#FF9800;

}

#update_tweet_frequency {
	font-size: 10px;
}

.stats {
	font-size: 10px;
}

.preloader-wrapper.small {
  width: 15px;
  height: 15px;
}

.hide {
	display:none;
}

#languages {
	padding-top:10px;
}

.tweet {
	width:100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#retweets {
  height: 173px;
  overflow: hidden;
}
#sentiment {
	height: 500px;
}

.card.section {
	height:705px;
	overflow: auto;
	max-height:730px;
}

.tweets_container_card {

}
.result {
	/*font-family: Roboto;
	font-size: 15px;*/
	display:none;
    height: 80px;
    width: 80px;
    line-height: 80px;

    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */

    background-color: white;
    color: #FF9800;
    text-align: center;
    font-size: 2em;
    font-family: "Helvetica Neue";
    margin: 0 auto;

}

/*  

	CHARTS 

*/

.c3-tooltip td {
  color: black;
}


.card .card-action {
  font-size: 11px;
  border-top: 1px solid #B6B6B6;
}

.show-result {
	display:block !important;
}

.headline-card {
	font-family: Verdana
}
.stats-result {
	font-size:13px;
}
.stats-result-list {
	margin-top:0px;
	margin-bottom:0px;
}
